@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&family=PT+Sans:ital@1&family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  /* background: #000; */
  margin: 0;
  padding: 0;
}
/* nav start here */
header {
  background-color: #1a1a1a;
  margin-bottom: 6%;
}
nav {
  padding: 15px 0;
  margin: 0 auto;
  width: 95vw;
  color: white;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  height: 20%;
  align-items: center;
  justify-content: space-around;
}
.logo {
  /* height: 5.4vh; */
  /* min-width: 2vw; */
  min-width: 3.5vw;
}
.nav-heading {
  font-size: large;
  font-weight: bolder;
}
.navsec-one {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.navlist-itm {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}
li {
  list-style: none;
}
.navsec-three {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  align-items: center;
}
/* nav end here */
/* ////////////////////////////////// */
/* content start here */
.login-page {
  margin: auto;
  text-align: center;
  /* text-shadow: #000; */
}
.huehue {
  /* margin: auto; */
  height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  /* text-align: center; */
}
.responsive-logo {
  visibility: hidden;
}
.lp-secone {
  /* height: 30vh; */
  /* width: 90vw; */
  margin: auto;
  /* align-items: center; */
  /* text-align: center; */
  border: 1px 0 0 0 black solid;
  box-shadow: 0 0 30px grey;
  border-radius: 25px;
  width: 40vw;
  color: white;
  background-color: black;
}
.login-heading {
  display: inline;
}

.lp-child {
  padding: 30px;
  margin: auto;
  text-align: center;
  color: #000;
  background-color: white;
  border: 3px white solid;
  border-radius: 25px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.lf-span {
  color: gray;
}
.lp-child-one {
  /* margin-top: 20px; */
  /* text-align: center; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}
.grey-txt {
  /* margin: auto; */
  text-align: center;
  max-width: 40vw;

  color: grey;
  padding: 18px;
  border: 1px gray solid;
  border-radius: 10px;
}
.greys-txt {
  /* margin: auto ; */
  align-self: center;
  /* text-align: center; */
  /* max-width: 30vw; */
  max-width: 40vw;
  color: grey;
  padding: 18px;
  border: 1px gray solid;
  border-radius: 10px;
}
button {
  margin: auto;
  text-align: center;
  background-color: gray;
  border: 1px gray solid;
  border-radius: 6px;
  padding: 10px;
  /* width: 50%; */
}
button:hover {
  background-color: black;
  color: white;
}
.end-heading {
  color: grey;
  margin: 30px auto 0 auto;
  text-align: center;
  width: 50vw;
}
.footer-journey {
  color: red;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  header {
    display: none;
  }

  .navsec-three {
    flex-direction: column;
    row-gap: 15px;
  }
  .navsec-one {
    margin-bottom: 15px;
  }
  .lp-secone {
    width: 100vw;
    border-radius: 0 0 26px 26px;
    box-shadow: none;
  }
  .lp-child{
    /* border-radius: 20px 20px 0 0 ; */

  }
  .login-heading {
    /* margin-top: 40px; */
  }
  .responsive-logo {
    visibility: visible;
    /* margin-top: 10px; */
  }
  .huehue {
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    /* column-gap: 33vw; */
    /* margin-top: 50px; */
  }
  .end{
    /* margin:  10px auto 0 auto; */
    text-align: center;
  }
  .end-heading {
    width: 90vw;
    font-size: 13px;
    margin: 30px auto 0 auto;
  }
  .login-heading{
    font-size: 13px;
  }
}
